.table1,.table2{
    height: 500px;
    border: 2px solid black;
   overflow-y: auto;
   overflow-x: hidden;
}
.input{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 500px;
    position: relative;
    left:500px;
    margin:20px;
    border: 3px solid black;
    padding: 10px;
}
table {
    border-collapse: collapse;
    width: 100%;
    margin: 5px;
  }
  td, th {
    border: 2px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  .required{
    color: red;
  }