<div class="col text-center table1">
 
  <div>
    <table>
      <tr>
        <th>Name</th>
        <th>DOB</th>
        <th>Gender</th>
        <th>Phone</th>
        <th>Action</th>
      </tr>
      <tr *ngFor="let item of showArray; let i = index ;">
        <td>{{item.name}}</td>
        <td>{{item.dob}}</td>
        <td>{{item.gender}}</td>
        <td>{{item.phone}}</td>
        <td >
          <span class="bi bi-pencil p-3" (click)="editClick(i)"></span>
          <span class="bi bi-trash3-fill p-3" (click)="deleteClick(i)"></span>
          <span data-name="table1"
            class="bi bi-chevron-double-right p-3"
            (click)="upgradeClick($event,i)"
          >
          </span>
        </td>
      </tr>
    </table>
  </div>
</div>
